body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color:blueviolet;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}